In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\prmma\anaconda3\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\prmma\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\prmma\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\prmma\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\prmma\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prmma\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prmma\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\prmma\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
#import required libraries
import pandas as pd
import numpy as np

# import zipfile library (we will use this to extract the file downloaded from Kaggle)
import zipfile

#import kaggle library (we will use this to download the dataset programatically from Kaggle)
import kaggle

In [3]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
bikes = pd.read_csv(r"C:\Users\prmma\OneDrive\Desktop\london_merged.csv")

In [5]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [6]:
bikes.shape

(17414, 10)

In [7]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [8]:
#rename the some columns name
bikes.rename(columns = {'timestamp':'time','cnt':'count','t1':'temperature_reaL_c','t2':'temperature_feel_like_c','hum':'humidity_percent','wind_speed':'wind_speed_kph','weather_code':'weather','is_holiday':'is_holiday','is_weekend':'is_weekend','season':'season'},inplace = True)

In [9]:
bikes.head()

,time,count,temperature_reaL_c,temperature_feel_like_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [10]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   time                     17414 non-null  object
 1   count                    17414 non-null  int64
 2   temperature_reaL_c       17414 non-null  float64
 3   temperature_feel_like_c  17414 non-null  float64
 4   humidity_percent         17414 non-null  float64
 5   wind_speed_kph           17414 non-null  float64
 6   weather                  17414 non-null  float64
 7   is_holiday               17414 non-null  float64
 8   is_weekend               17414 non-null  float64
 9   season                   17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [11]:
#cheaking the value count
bikes.weather.value_counts()

weather
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [12]:
#cheaking the value count
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [13]:
#changing the humidity value to actural humidity percentage value(i.e 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [14]:
# creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {"1.0":'Clear','2.0':'Scattered cloud',"3.0":'Broken cloud','4.0':'Cloudy','7.0':'Rain','10.0':'Rain with thunderstorm',"26.0":'Snowfall'}

# creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
'0.0':'Spring',
'1.0': 'Summer',
'2.0': 'Autumn',
'3.0': 'Winter'}

#changing the weather data to column int to str
bikes.weather = bikes.weather.astype('str')
#maping ther value 1 to 26 to actual value
bikes.weather = bikes.weather.map(weather_dict)

#changing the season data column to int to str
bikes.season = bikes.season.astype('str')
# maping the value 0 to 3 to actual seasons
bikes.season = bikes.season.map(season_dict)

In [15]:
#checking the data
bikes.head()

,time,count,temperature_reaL_c,temperature_feel_like_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken cloud,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [17]:
#wrinting the dataframe to and excel file to that we will use to tableau to visulization. this file will be london bike dataset
bikes.to_excel('London bikes final.xlsx',sheet_name = 'Data')